.link__glasses-symbol {
  display: inline-block;
  fill: currentColor;
  font-size:18*1px;
  width:24*1px;
  min-width:24*1px;
  height: 1em;
}
.link__liveplay-symbol {
  display: inline-block;
  fill: currentColor;
  font-size:20*1px;
  width:20*1px;
  min-width:20*1px;
  height: 1em;
}
