.arrow-icon {
  display: inline-block;
  fill: currentColor;
  font-size:12*1px;
  width:8*1px;
  min-width:8*1px;
  height: 1em;
}
.document-list-icon {
  display: inline-block;
  fill: currentColor;
  font-size:26*1px;
  width:22*1px;
  min-width:22*1px;
  height: 1em;
}
.facebook-icon {
  display: inline-block;
  fill: currentColor;
  font-size:36*1px;
  width:36*1px;
  min-width:36*1px;
  height: 1em;
}
.glasses-icon {
  display: inline-block;
  fill: currentColor;
  font-size:18*1px;
  width:24*1px;
  min-width:24*1px;
  height: 1em;
}
.link-icon {
  display: inline-block;
  fill: currentColor;
  font-size:12*1px;
  width:12*1px;
  min-width:12*1px;
  height: 1em;
}
.liveplay-icon {
  display: inline-block;
  fill: currentColor;
  font-size:20*1px;
  width:20*1px;
  min-width:20*1px;
  height: 1em;
}
.main-logo-icon {
  display: inline-block;
  fill: currentColor;
  font-size:49*1px;
  width:80*1px;
  min-width:80*1px;
  height: 1em;
}
.odnoklassniki-icon {
  display: inline-block;
  fill: currentColor;
  font-size:36*1px;
  width:36*1px;
  min-width:36*1px;
  height: 1em;
}
.pencil-icon {
  display: inline-block;
  fill: currentColor;
  font-size:27*1px;
  width:26*1px;
  min-width:26*1px;
  height: 1em;
}
.twitter-icon {
  display: inline-block;
  fill: currentColor;
  font-size:36*1px;
  width:36*1px;
  min-width:36*1px;
  height: 1em;
}
.vkontakte-icon {
  display: inline-block;
  fill: currentColor;
  font-size:36*1px;
  width:36*1px;
  min-width:36*1px;
  height: 1em;
}
